<!doctype html>
<html>
<head>
    <title>List of Animal Kinds</title>
</head>
<body>
    <h1>List of Animal Kinds</h1>
    
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Kind</th>
            <th>Food</th>
            <th>Noise</th>
            <th>Actions</th>
        </tr>
        {% for kind in kinds %}
        <tr>
            <td>{{ kind.id }}</td>
            <td>{{ kind.kind_name }}</td>
            <td>{{ kind.food }}</td>
            <td>{{ kind.noise }}</td>
            <td>
                <a href="/kind/update/{{ kind.id }}">Update</a> |
                <a href="/kind/delete/{{ kind.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/kind/create">Add New Kind</a>
</body>
</html>
