<!doctype html>
<html>
<head>
    <title>Update Kind</title>
</head>
<body>
    <h1>Update Kind</h1>
    <form action="/kind/update/{{ kind.id }}" method="POST">
        <p>Kind Name: <input name="kind_name" value="{{ kind.kind_name }}" required /></p>
        <p>Food: <input name="food" value="{{ kind.food }}" required /></p>
        <p>Noise: <input name="noise" value="{{ kind.noise }}" required /></p>
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/kind/list">Back to Kind List</a>
</body>
</html>
