<!doctype html>
<html>
<head>
    <title>List of Pets</title>
</head>
<body>
    <h1>List of Pets</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Owner</th>
            <th>Kind</th>
            <th>Food</th>
            <th>Noise</th>
            <th>Actions</th>
        </tr>
        {% for pet in pets %}
        <tr>
            <td>{{ pet.id }}</td>
            <td>{{ pet.name }}</td>
            <td>{{ pet.age }}</td>
            <td>{{ pet.owner }}</td>
            <td>{{ pet.kind.kind_name }}</td>
            <td>{{ pet.kind.food }}</td>
            <td>{{ pet.kind.noise }}</td>
            <td>
                <a href="/delete/{{ pet.id }}">Delete</a> |
                <a href="/update/{{ pet.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/create">Add New Pet</a>
</body>
</html>